.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 2px solid teal;
    margin: 15px 0 0 0;
}

.post__buttons {
    display: flex;
    gap: 10px;
}